.footer {
  width: 100%;
  padding-top: 50px;
}

.newsletter {
  width: 100%;
  background-color: #041e42;
  height: 200px;
  background-image: url(../../public/assets/b14.png);
  background-repeat: repeat;
  background-position: center;
  color: white;
  display: flex;
}

.aboutSection {
  width: 100%;
  padding-top: 100px;
  display: flex;
}

.aboutSection h6 {
  color: rgb(39, 35, 35);
  font-weight: 300;
}

.aboutSection h6:hover {
  color: black;
}

.aboutRight,
.aboutLeft {
  width: 50%;
  display: flex;
}

.section1,
.section2,
.section3,
.section4 {
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.section1 {
  padding-top: 0px !important;
  padding-left: 40px !important;
  padding-right: 20px !important;
}

.section4 {
  padding-left: 0 !important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 15px;
  padding-right: 30px;
}

.section4 h6,
.section4 h5 {
  padding-left: 30px;
}

.section2,
.section3 {
  width: 30%;
  display: flex;
  align-items: stretch;
}

.section1,
.section4 {
  width: 70%;
}

.section1 h6,
.section4 h6 {
  color: black;
}

.flipLogo {
  width: 100%;
  background-image: url(../../public/assets/flipLogo.png);
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;
  background-position: left;
  cursor: pointer;
}

.appleGoogle {
  width: 100%;
  height: 50px;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
}

.appleStore {
  background-image: url(../../public/assets/appStore.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.playStore {
  background-image: url(../../public/assets/playStore.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}

.gateway {
  width: 100%;
  height: 40px;
  background-image: url(../../public/assets/creditCard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.copyRight {
  width: 100%;
  padding: 50px 20px;
}